<% provide(:title, 'Cadastre-se') %>
<div class="col-md-4 col-md-offset-4" style="margin-top:80px;">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <%=image_tag("18.png", options={class:"img-responsive"})%>
      </div>
    </div>
    <div class="col-md-8 pull-right" style="background-color: #6d336e; color:#f6ae48;">
      <h1 style="text-align:center;"><strong> PROMOÇÃO DE ANIVERSÁRIO </strong></h1>
    </div>
  </div>
  <div class="row">
    <h1 style="text-transform: uppercase; text-shadow: 2px 2px 1px #9eafb6; text-align:center; "> Concorra a uma habilitação B <span style="color:#6b3276;">com 50% de desconto!</span></h1>
  </div>
  <div class="row">
    <h2 style="color:#eab648; text-transform: uppercase; text-align:center;  "><strong>Cadastre-se e concorra!</strong></h2>
  </div>
  <div class="row">
    <%= form_for(@user,html: {:class => 'form-horizontal align-center form-custom'}) do |f|%>
        <%= render 'shared/error_messages' %>
      <fieldset>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textinput">Nome</label>
          <div class="col-md-8">
            <%= f.text_field :name , class:"form-control",autofocus: true, placeholder:"Digite seu Nome",required:true %>
          </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textinput">Email</label>
          <div class="col-md-8">
            <%= f.email_field :email, class:"form-control input-md",placeholder: "Digite seu E-mail",required:true %>

          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <%= f.label :gender, "Sexo" ,class:"col-md-3 control-label"%>
          <div class="col-md-8">
            <%= f.select :gender, [["Selecione","-1"],["Masculino","m"],["Feminino","f"]],{},{class: "form-control"} %>
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-3 control-label" for="textinput">Telefone</label>
          <div class="col-md-8">
            <%= f.phone_field :phone , class:"form-control",required:true, placeholder:"Digite seu telefone",'data-inputmask'=>"'mask': '99 999999999'" %>
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <%= f.label :preference, "Habilitação Desejada" ,class:"col-md-3 control-label"%>
          <div class="col-md-3">
            <%=f.select :preference, [["Selecione",-1],["A (Moto)","a"],["B (Carro)","b"],["AB (Carro e Moto)","ab"]],{},{class: "form-control"} %>
          </div>

          <%= f.label :inclusion, "Ja possui CNH?" ,class:"col-md-2 control-label"%>
          <div class="col-md-3">
            <%= f.select :inclusion, [["Selecione",-1],["Sim","sim"],["Não","nao"]],{},{class: "form-control"} %>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <div class="col-md-12">
            <div class="col-md-12">
              <%= f.submit "Participar do Sorteio*!", class: "btn btn-sample pull-right", style:"margin-top:10px; margin-bottom:10px;" %>
            </div>

          </div>
        </div>

      </fieldset>
    <% end %>
    <div class="col-md-12 footer">
        <p style="font-size:12px;"><strong>Regulamento:</strong>Primeira Habilitação(Categoria A,B ou AB) com 20% de desconto a vista em dinheiro e 10% nos cartões em até 6x sem juros. Inclusões com 15% de desconto a vista em dinheiro e 5% de desconto em até 6x sem juros nos cartões.DUDA e clínica não estão inclusos. Os cupons são válidos até 30/04. Caso o vencedor do sorteio tenha utilizado o cupom de desconto, o mesmo sera ressarcido do valor ate os 50% da promocao.Para participar do sorteio é necessário curtir a página da <a href="https://www.facebook.com/cfccasal20/" target="_blank">Autoescola Casal20 no Facebook</a> e compartilhar em seu perfil em modo público. Caso o sorteado não atenda a ambos os critérios será desqualificado e um próximo novo sorteio será feito até haver um ganhador elegível. O cupom de 50% tem 15 dias de validade a partir da divulgação do resultado do sorteio.<br><br>*Ao clicar em participar você está concordando com o regulamento.<br>Desenvolvido por <a href="http://pauloxavier.com" target="_blank">Paulo Xavier</a>.</p>
    </div>
  </div>
</div>