<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: url(<%=image_path('bg.png') %>) no-repeat;">
<% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
<% end %>

<%= yield %>

<footer class="footer">
  <div class="container">
    <p class="text-muted" style="color:white;"><strong>Regulamento:</strong>
      Desconto de 15% AB, Primeira CNH 20%,Inclusao A/B a 15% no dinheiro e à vista. Desconto no cartão de crédito em até 6x sem juros de 10% pra primeira CNH A ou B. Para Inclusao A/B, 5% de desconto. DUDA e clínica não estão inclusos. Os cupons são válidos até 30/04. Caso o vencedor do sorteio tenha utilizado o cupom de desconto, o mesmo sera ressarcido do valor ate os 50% da promocao.<br><br>Desenvolvivo por <a href="http://pauloxavier.com" target="_blank">Paulo Xavier</a></p>
  </div>
</footer>

</body>
</html>